/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2016, 09:02:35 PM
    Author     : dante_000
*/

body{
    background: url(../imagenes/cu2.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu{
    margin:auto;
    width:300px;
    font-size: 30px;
}

.rasgos{
    margin-left: -400px;
}

ul, ol {
    list-style:none;
}

li {
    float:left;
}
			
li a {
    background-color: rgb(23,61,134);
    color:#fff;
    text-decoration:none;
    padding:10px;
    display:block;
    margin: 2% auto;
    border-radius: 5px;
    cursor: pointer;
}

li .sub{
    margin-left: 10%;
}

li a:hover {
    background-color: rgb(23,61,199);
}
			
li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
			
li:hover > ul {
    display:block;
}
			
li ul li {
    position:relative;
}
			
li ul li ul {
    right:-140px;
    top:0px;
}

.frame{
    margin: 5% auto;
    margin-left: 200px;
    float: left;
}
